.activity__region{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.activity__header{
    color: white;
    padding: 10px 0px 20px 10px;
    margin: 15px 15px 0px 15px;
    border-bottom: 2px solid var(--sidebar-seperator-color);
}

.activity__body{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin: 15px 10px;
    justify-content:flex-start;
    text-align: center;
    color: white;
}