.activity__region{
    display: flex;
    flex-direction: column;
    flex: 1;

    /* background-color: #36393f; */
    border-left: 1px solid #41444a;
    
}

.activity__header{
    position: relative;
    top: 20px;
    padding: 2px 10px 0px 15px;

}

.activity__region .activity__header h2{
    color: var(--text-color-white);
}

.activity__body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activity__body #quietActivity{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    position: relative;
    top: 50px;
    color: var(--text-color-white);
    height: 75px;
}