.chat__input{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.chat__input input{
    color: #72767d;
    border: none;
    border-radius: 999px;
    background-color: #202225;

    height: 50px;
    width: 60vw;
    font-size: medium;
    padding: 0px 20px;
    margin: 10px 0px 10px 0px;
}.chat__input input:focus{
    outline: none !important;
}

.chat__input button.add-btn{
    position: relative;
    top: 4px;
    display: flex;
    background-color: rgba(32, 34, 37, 1);
    border-radius: 999px;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.75);
    scroll-snap-align: end;
    scroll-snap-stop: always;
    margin: 0px 10px 10px 0px;
}.chat__input button.add-btn:hover{
    background-color: rgba(32, 34, 37, 0.75);
    cursor: pointer;
}.chat__input button.add-btn svg{
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}.chat__input button.add-btn:active{
    transform: translateY(2px);
}