.page{
    display: flex;
    flex: .8375;
    flex-direction: column;

    background-color: #36393f;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.friends__section{
    display: flex;
    flex-direction: column;
    flex: .7385;
}

.friends__page__body{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.friend__search{
    display: flex;
    flex: .01;
    align-items: center;
    padding: 10px 0px 10px 10px;
    margin: 10px 10px;
    /* background-color: blue; */
}

.friend__search .MuiSvgIcon-root{
    background-color: transparent;
    position: fixed;
    right: 24%;
}

.friend__search input{
    color: #72767d;
    border: none;
    border-radius: 10px;
    background-color: #202225;

    height: 40px;
    width: 97.25%;
    padding: 0px 10px 0px 10px;
    margin-right: 0px;
}