.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    flex: .125;
    box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px 0px 0px 0px;
}

.sidebar__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
    color: #8e9297;
    padding: 0px 10px;
    /* width: 200px; */
}

.sidebar__row h2{
    margin-left: 10px;
}

.sidebar__row:hover{
    background-color: rgba(112, 115, 124, 0.25);
    cursor: pointer;
    border-radius: 10px;
    color: #dcddde;
}

.sidebar__row svg{
    position: relative;
    top: 2px;
}

.sidebar__btm{
    margin: 10px;
}

.sidebar__btm .dm__row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm__row:hover h5{
    color: #dcddde;
    cursor: default;
}

.dm__row svg:hover{
    color: #dcddde;
    cursor: pointer;
}

.dm__row h5{
    color: #7c8186;
    flex: 1;
}

.dm__row svg{
    color: #dcddde;
    align-self: end;
}
.sidebar__search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__search > input {
    color: #72767d;
    border: none;
    border-radius: 999px;
    background-color: #202225;

    height: 30px;
    width: 205px;

    padding: 0px 10px;
}
.sidebar__search > input:focus {
    outline: none !important;
}

.sidebar header{
    display: flex;
    flex-direction: row;
    padding: 7px 15px;
}

.sidebar header h2{
    color: var(--text-color-white);
}

.channels section{
    margin: 25px 0px;
}

section.txt__channels{
    margin-top: 10px;
}

.channels header{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0px 1px;
}

.channels header h5{
    color: #7c8186;
    font-size: 12px;
    margin-left: 1px;
}

.channels header svg{
    color: #7c8186;
    font-size: small;
}

.channels header:hover{
    cursor: pointer;
}

.channels header:hover h5{
    color: #dcddde;
}

.channels header:hover svg{
    color: #dcddde;
}

.channels section.channel__list{
    margin: 0px;
}

.channels header:hover button svg{
    color: #7c8186;
}

.channels header button svg:hover{
    cursor: pointer;
    color: #dcddde;
}

.channels header h5{
    display: flex;
    flex-direction: row;
    flex: .95;
    align-items: center;
}

.rotateSvg{
    transform: rotate(90deg);
}

.channels header .addChannelBtn{
    background: transparent;
    border: none;
    cursor: pointer;
}